header{
    text-align: center;
}
#search-bar{
    float: left;
    background-color: lightgrey;
    height: 200px;
}
.future{
    width: 135px;
    height: 135px;
}
/* #uv-index{
    background-color: red;
    border-radius: 5px;
} */
#future-cards{
    color: white;
}